@charset "UTF-8";
/**
 * 桌面歌词样式
 * @authors yutent<yutent@doui.cc>
 * @date 2019/01/17 19:41:52
 */


@import "./var.scss";

.do-fn-drag {-webkit-app-region:drag;user-select: none;}
.do-fn-nodrag {-webkit-app-region:no-drag;}

html {font-size:62.5%}
body {position:fixed;left:0;top:0;display:flex;width:100%;height:100%;line-height:1.5;background:transparent;font-size:1.4rem;color:nth($cd, 1);


  .lrc-box {position:absolute;left:0;top:0;display:flex;flex-flow:column wrap;width:100%;height:100%;padding:0 5rem;line-height:5rem;color:#fff;font-size:3rem;
          
    section {flex:1;display:flex;
    
      &.left {justify-content:flex-start;}
      &.right {justify-content:flex-end}
  
      span {background-clip:text!important;color:transparent;
        
        &.shadow {text-shadow:0 0 .5rem rgba(0, 0, 0, .5);}
      }
    }
  
  }

  .touch-bar {position:absolute;left:0;top:0;z-index:9;width:100%;height:2rem;}

  .quit,
  .lock {visibility:hidden;position:absolute;right:1rem;top:.5rem;font-size:1.8rem;font-weight:bold;
    &:hover {color:nth($cr, 1)}
  }
  .lock {right:4rem;

    &.actived {color:nth($cp, 3)}
  }


  &:hover {background:rgba(29, 35, 44, 0.2);
  
    .quit, .lock {visibility:visible;}
  }
  


}
