@charset "UTF-8";
/**
 * 公共样式
 * @authors yutent<yutent@doui.cc>
 * @date 2019/01/22 18:16:57
 */

@import "./var.scss";


.app-drag {-webkit-app-region:drag;user-select: none;}
.app-nodrag {-webkit-app-region:no-drag;}

body {
  position:fixed;left:0;top:0;
  width:100%;height:100%;
  line-height:1.5;
  font-size:14px;
  color:#fff;
}

