@charset "UTF-8";
/**
 * 迷你模式
 * @authors yutent<yutent@doui.cc>
 * @date 2019/01/22 18:01:58
 */


 @import "./var.scss";

//  body {width:32rem;height:6rem;}

.app {display:flex;width:100%;height:100%;

  .cover {overflow:hidden;flex:0 6rem;
    
    img {width:100%;}
  }
  .ctrl {flex:1;padding:.8rem;line-height:2.2rem;
    .title {font-weight:normal;font-size:1.2rem}
    .btns {font-size:2.2rem;
      
      span:hover {color:nth($co, 1);}
    }
  }

  .tools,
  .actions {display:flex;justify-content:center;align-items:center;position:absolute;right:.5rem;top:.5rem;line-height:2rem;font-size:1.6rem;text-align:center;color:nth($cgr, 1);
  
    span {margin:0 .2rem;

      &:hover {color:nth($ct, 1)}
      &.close:hover {color:nth($cr, 1)}
      &.active {font-weight:bold;}
    }
  
  }

  .actions {top:auto;bottom:.5rem;
  
    span {
      &:nth-child(1) {font-size:1.2rem}
    }
  }

}